<form class="address-form" [formGroup]='addressForm'>
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select (selectionChange)="onSelectRegion($event)" formControlName='region'>
      <mat-option *ngFor="let region of this.regions" [value]="region.id">
        {{region.estado}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Cidade" [matAutocomplete]="auto" formControlName='cityInput'>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of cities" [value]="city.cidade">
        {{city.cidade}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  
</form>