<div>
  <form class="address-form" [formGroup]='addressForm'>
    <mat-form-field class="input-form">
      <mat-label>Estado</mat-label>
      <mat-select (selectionChange)="onSelectRegion($event)" formControlName='region'>
        <mat-option *ngFor="let region of this.regions" [value]="region.id">
          {{region.estado}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-form">
      <input type="text" matInput placeholder="Cidade" [matAutocomplete]="auto" formControlName='cityInput'>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectCity($event.option.value)">
        <mat-option *ngFor="let city of cities" [value]="city.cidade">
          {{city.cidade}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>  

    <a class="favorite" (click)="this.toggleFavorite()" matTooltip="Pesquisa favorita" [matTooltipShowDelay]="500">
      <div *ngIf="this.favoriteAddressCookie && this.favoriteAddressCookie === addressForm.value.region + '1' + addressForm.value.cityInput; else clearStar">
        <i class="material-icons star-gold">star</i>
      </div>
      <ng-template #clearStar>
        <i class="material-icons">star_border</i>
      </ng-template>
    </a>
  </form>
</div>

<div>
  <div id="loader" [hidden]="!loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="this.showResult">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChange($event)" [(selectedIndex)]="this.selectedTab">
      <mat-tab *ngFor="let forecast of this.forecasts; index as i">
        <ng-template mat-tab-label>
          <div class="tab-containner"> 
            <div>
              <span>{{forecast.dayOfWeek}}</span>
            </div>  
            <div class="forecast-icon-wrapper">
              <img class="forecast-icon" src="http://cdn.worldweatheronline.net/images/weather/small/{{forecast.weatherCode}}_day_sm.png">
            </div>
            <div class="tab-temperature">
              <div>
                <p>{{forecast.maxTemperature}}°</p>
              </div>     
              <div>
                <p>{{forecast.minTemperature}}°</p>
              </div>
            </div>
          </div>                  
        </ng-template>
        <div class="display-content">
          <div class="half-width margin-bottom">
            <span class="forecast-title">{{this.selectedCity}}, {{this.selectedRegion}}</span><br/>
            <span class="forecast-label">{{forecast.dayOfWeek}}<span *ngIf="forecast.dayOfWeek !== 'Sábado' && forecast.dayOfWeek !== 'Domingo'">-feira</span>, {{forecast.date}}</span><br/>
            <span class="forecast-label">{{forecast.weatherTranslated}}</span>
            <div>
              <div class="quarter-width">
                <img class="forecast-icon-large" src="http://cdn.worldweatheronline.net/images/weather/small/{{forecast.weatherCode}}_day_sm.png">
              </div>
              <div class="quarter-width">
                <p *ngIf="i == 0" class="bold">{{forecast.currentTemperature}}° Atual</p>
                <p>{{forecast.maxTemperature}}° Máxima</p>
                <p>{{forecast.minTemperature}}° Mínima</p>
              </div>
            </div>
          </div>
          <div class="half-width margin-bottom">
            <div class="chart-style">
              <canvas id="forecastDailyChart{{i}}" #forecastDailyChart{{i}}></canvas>
            </div>
          </div>
          <div class="full-width" *ngIf="this.placeList && this.placeList[i]">

            <div class="full-width">
              <p class="forecast-label">Locais sugeridos:</p>
            </div>

            <div class="half-width place" *ngFor="let placeList of this.placeList[i]">
              <div class="left" matTooltip="{{placeList.category}}" [matTooltipShowDelay]="500">
                  <img class="places-icon" src="{{placeList.icon}}">
              </div>
              <div class="left" matTooltip="{{placeList.title}} - {{placeList.address}}" [matTooltipShowDelay]="500">
                  <div class="ellipsis">
                    <span>{{placeList.title}}</span>
                  </div>
                  <div class="ellipsis">
                    <span class="font-small">{{placeList.address}}</span>
                  </div>
              </div>              
            </div>
          </div>
       </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="mat-tab-body-wrapper week-wrapper">
    <div class="display-content chart-style">
      <div class="full-width">
        <span class="forecast-title">Resumo semanal</span>
        <br/><br/><br/>
      </div>      
      <canvas id="forecastWeekChart" #forecastWeekChart></canvas>
    </div>
  </div>
</div>