<form class="address-form" [formGroup]='addressForm'>
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select (selectionChange)="onSelectRegion($event)" formControlName='region'>
      <mat-option *ngFor="let region of this.regions" [value]="region.id">
        {{region.estado}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Cidade" [matAutocomplete]="auto" formControlName='cityInput'>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectCity($event.option.value)">
      <mat-option *ngFor="let city of cities" [value]="city.cidade">
        {{city.cidade}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  
</form>

<a (click)="this.toggleFavorite()">
  <i class="material-icons" *ngIf="this.favoriteAddressCookie">star</i>
  <i class="material-icons" *ngIf="!this.favoriteAddressCookie">star_border</i>
</a>

<div *ngIf="this.showResult">
  <mat-tab-group (selectedTabChange)="tabChange($event)" [(selectedIndex)]="this.selectedTab">
    <mat-tab *ngFor="let forecast of this.forecasts; index as i">
      <ng-template mat-tab-label>
          <div>
            <p>{{forecast.date}}</p>
          </div>  
          <div>
            <img src="{{forecast.weatherIcon}}">
          </div>
          <div>
            <p>{{forecast.maxTemperature}}</p>
          </div>     
          <div>
            <p>{{forecast.minTemperature}}</p>
          </div>                      
      </ng-template>
      <div>
        <p>{{forecast.date}}</p>
        <div style="height: 200px">
          <canvas id="forecastDailyChart{{i}}" #forecastDailyChart{{i}}></canvas>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div style="height: 200px">
  <canvas id="forecastWeekChart" #forecastWeekChart></canvas>
</div>  